<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the home page 1*2</h1>
    <h3><%= 1*2 %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id veritatis reiciendis quaerat! Ratione neque temporibus quasi doloremque reprehenderit enim illum voluptatibus illo molestiae facilis doloribus, eos minima libero similique numquam, sequi, laborum unde iusto eius pariatur. Voluptatem ipsum error labore doloremque recusandae velit, rerum itaque voluptate? Nemo, quasi vero. Facere.</p>
    <button>Click me</button>
</body>
</html>